.Jobdetails {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px;
    height: 90vh;
    width: 100%;
}

.job-det1 {
    width: 65%;
    padding: 10px;
}
.job-det1 strong{
    font-size: 25px;
    font-weight: bold;
}
.job-det2 {
    width: 35%;
    padding: 10px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
border-radius: 8px;
}

.apply-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 425px;
    height: 65px;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    color: white;
    font-size: 15px;
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1A1919;
    color: white;
    padding: 20px 12%;
    width: 100%;
    height: 30vh;
}

.footer-box {
    width: 20%;
    padding: 10px;
}

.footer-box h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
}

.footer-box p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-box h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
ul{
    line-height: 30px;
}
.f-t{
    background-color: #1A1919;
    color: white;
}
.hr{
   border-bottom: 2px solid white;
    background-color: #1A1919;
    
}
