@media (min-width: 0px) and (max-width: 500px) {
    .future-job-child {
        width: 648px;
        height: 459px !important;
        padding: 40px;
        background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
        border-radius: 8px;
        transition: all .3s linear;
    }
    .footer-section {
        min-height: 150vh !important;
    }
    .footer-box {
        width: 100% !important;
        padding: 10px;
    }
    .nav{
        height: 9vh !important;
    }
    .job-det1 {
        width: 100% !important;
    }
    .job-det2 {
        width: 100% !important;
    }
    .dropdown{
        padding: 0px !important;
    }
    .apply_job-list{
        width: 100% !important;
    }
    .res{
        width: 100% !important;
    }
    .butnn {
        background-color: red;
        color: white;
        padding: 8px 5px;
        border-radius: 4px;
        /* margin-top: 99%; */
        position: absolute;
        /* top: 5px; */
        left: 0;
        /* bottom: 0; */
        top: 59px;
    }
    .pai{
        width: 100% !important;
    }
    .pai-g{
        width: 100% !important;
        z-index: -1 !important;
    }
}

@media (min-width: 501px) and (max-width: 800px){
    .footer-section{
        min-height: 150vh !important;
    }
    .footer-box{
        width: 100% !important;
    }
    .See__all{
        margin: 54px 0px !important;
    }
    .job-det1{
        width: 100% !important;
    }
    .job-det2{
        width: 100% !important;
    }
    .apply_job-list{
        width: 100% !important;
    }
    .butnn{
        position: absolute;
        top: 50px;
        left: 0;
    }
}